// Own ProjectForge Styles
// ========================================================================

// Scaffolidng

body {
	font-family: Montserrat,sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: #50555f;
}

.mm-dark-bg {
	background: #f9f9f9;
	padding-top: 30px;
}

.sidebar-fixed-width {
	width: 300px;
}

footer,
nav {
	.uk-container {
		max-width: 100% !important;
	}
}

.uk-subnav {
	margin-bottom: 0;
}

// Typo etc.

h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  color: #414650;
}

article a,
article .uk-link,
.uk-button.uk-button-text {
	color: #50a53c !important;
	border-bottom: none !important;

	&:hover {
		text-decoration: underline !important;
	}
}

.uk-button.uk-button-default {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 600;
	padding: 14px 20px;
	font-size: 18px;
	line-height: 1.6;
	border-radius: 4px;
	color: #50a53c;
	background-color: transparent;
	border-color: #479235;

	&:hover {
		background:#50a53c;
		color: #fff;
	}
}

.uk-button-primary-outline:hover {
	background:#50a53c;
	color: #fff !important;
	text-decoration: none !important;
}

a.hvr-forward,
a.hvr-back {
	font-size: 16px;
}

.uk-list.link-secondary {
	font-size: 16px;
	margin-top: 5px;
}

em {
	color: #000;
}

img + em {
	font-size: 14px;
	margin-bottom: 30px;
	display: block;
}

// Navbar

.uk-navbar-nav > li > a {
	font-size: 18px;
	font-weight: 600 !important;
	color: #7c8495;

	&:hover {
		color: #50a53c;
	}
}

.uk-navbar-sticky {
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

// Navbar Dropdown

.uk-navbar-dropdown {
	width: auto;
	min-width: 160px;
	padding: 0 !important;

	ul li {
		padding: 5px 20px;

		&:hover {
			background: #50a53c;

			a {
				color: #fff;
			}
		}
	}
}

.uk-navbar ul.uk-navbar-nav li:nth-child(2) {
	.uk-navbar-dropdown ul li:last-child {
		border-top: 1px solid #50a53c80
	}
}

// Footer
footer.uk-section {
	border-top: 1px solid #E3E5E3;
	padding: 30px 0;

	.uk-subnav > * {
		line-height: 2.1;

		> :first-child {
			font-size: 16px;
		}
	}

	svg {
		width: 30px;
		height: 30px;
		fill: #c00;
		opacity: 0.7;

		&:hover {
			fill: #666;
		}
	}
}

// Card

.uk-card.uk-card-default {
	border: 1px solid #fff;
	border-radius: 0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	padding: 30px;
	text-align: left;
	min-height: 260px;

	&.uk-card-hover:hover {
		border: 1px solid #50a53c;
		box-shadow: 0 2px 14px 0 rgba(0,0,0,.25);
	}

	h3 {
		font-size: 24px;
		color: #414650;
		margin: 10px 0 !important;
	}

	p {
		color: #50555f;
	}

	a.uk-position-cover {
		border-bottom: none !important;
	}
}

.card-post {
	border: 1px solid #fff;
	border-radius: 0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);

	&:hover {
		border: 1px solid #50a53c;
		box-shadow: 0 2px 14px 0 rgba(0,0,0,.25);
	}

	.uk-card-header {
		padding-top: 20px;

		.avatar {
			width: 70px;
		}

		.uk-width-expand,
		p time {
			font-size: 15px;
			color: #686C7B;
		}
	}
}

// Hero

.section-hero {
	.uk-heading-primary {
		font-size: 40px;
	}

	.uk-text-lead {
		font-size: 20px;
		color: #666
	}
}

.uk-text-lead {
		font-size: 20px;
		color: #666;
	}

// Tables

table {
	width: auto;

	th {
		background: #f2f2f2;
	}

	th:first-child, td:first-child {
		padding-left: 10px;
	}

	th:last-child, td:last-child {
		padding-right: 10px;
	}
}


.uk-navbar-item.uk-logo img {
	width: 90px;
	margin-right: 20px;
}

.uk-card.uk-card-default p {
	font-size: 16px;
}

.uk-navbar-dropdown {
	padding: 10px 20px;
	top: 60px !important;
}

.uk-navbar-nav > li > a {
	font-weight: 700;
}

.uk-navbar-nav > li > a[href*="#"]:after {
	content: "›";
	font-size: 30px;
	rotate: 90deg;
	padding: 0 10px;
	margin-top: 3px;
}


.uk-navbar-dropdown-nav > li > a {
	font-size: 16px;
}

.uk-container-xsmall {
	h4 {
		margin-bottom: 10px;
	}

	* + p, * + ul, * + ol, * + dl, * + pre, * + address, * + fieldset, * + figure {
		//margin-top: 10px;
	}
}

footer.uk-section svg{
	fill: #9A9DA3;
	opacity: 1;
}

// Hero

p.uk-text-lead {
	line-height: 1.8;
}

p.hero-image {
	margin-top: 30px;

	img {
		max-height: 345px;
	}
}

// Section Featured

.uk-section.mm-featured {
	.mm-featured-item {
		a {
			font-size: 20px;
			font-weight: 700;
			color: #414650;
			line-height: 1.4;
			margin-bottom: 10px;
		}

		p {
			font-size: 16px;
			line-height: 1.6;
			margin: 0;
		}
	}
}

span.mm-featured-cat {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #757575;
	margin-bottom: 30px;
}

// Docs

#mm-docs {

	h1 {
		font-size: 40px;
	}

	.uk-text-lead {
		margin-bottom: 60px;
		line-height: 1.6;
	}
}

// Avatar

.uk-article-meta {
	margin-top: 60px;
	font-size: 16px;

	.avatar {
		max-width: 160px;
	}

	p {
		font-size: 14px;
		margin: 5px 0;
	}
}

// Blog

.uk-article.mm-blogpost {
	p.uk-text-lead {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.article-content {
		margin-top: 60px;
	}
}

// Buttons

a.uk-button.uk-button-primary-outline {
	padding: 14px 20px !important;
	font-size: 18px !important;
	line-height: 1.6 !important;
	border-radius: 4px !important;
	border-bottom: 1px solid #50a53c !important;
}

.highlight {
	background: #272822;
	border: none;
	box-shadow: 0 5px 15px rgba(0,0,0,0.08);
	border-radius: 8px !important;
}

pre.highlight {
	background:#272822;
}

// Boxes

img.mm-boxLogo {
	max-height: 80px;
	margin-bottom: 30px;
}

// Pagination

.uk-pagination > * > * {
	color: #50a53c;
}