{% if include.featured %}
<div class="uk-section mm-featured">
    <div class="uk-container">
        {% if include.title %}
        <h2 class="uk-h1 uk-text-center">{{ include.title }}</h2>
        {% endif %}

        {% if include.subtitle %}
            <p class="uk-text-center uk-text-lead">{{ include.subtitle | escape }}</p>
        {% endif %}

        <div class="uk-child-width-1-{{ columns }}@m uk-margin-medium-top" data-uk-grid>
        {% for post in site.posts %}
            {% if post.featured == true %}

            <div class="mm-featured-item">
                <span class="mm-featured-cat">{{post.categories}}</span>
                <a class="" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                <p>{{post.shortdesc}}</p>
            </div>

            {% endif %}
        {% endfor %}
        </div>

    </div>
</div>
{% endif %}

